@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
	--main-color: #2E363E;
	--black-color: #000000;
	--white-color: #FFFFFF;
	--gray-color: #A6AEB6;
	--price-color: #434B53;

	--bg-color-blue: #024C68;
	--bg-color-blue-light: #0776A0;
	--bg-color-yellow: #ffb600;

	--font-family-main: 'Lato', sans-serif;

	--font-weight-regular: 400;
	--font-weight-bold: 700;

	--font-size-light: 21px;
	--font-size-medium: 24px;
	--font-size-height: 28px;
	--font-size-h4: 32px;
	--font-size-h3: 36px;
	--font-size-h2: 48px;
	--font-size-h1: 58px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Общие классы */

.wrapper {
	width: 61.35%;
	margin: 0 auto;
}

.universal-h2 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h2);
	line-height: 133%;
	text-align: center;
}

/* Общие классы */

body {
	font-family: var(--font-family-main);
	color: var(--main-color);
}

header {
	color: var(--white-color);
}

/* Секция heading */
.heading {
	padding-top: 43px;
	padding-bottom: 56px;
	background-color: var(--bg-color-blue);
}

.blocks__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info__heading {
	display: flex;
	gap: 15px;
}

.phone-grhWork__info {
	display: flex;
	flex-direction: column;
}

.phone {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-medium);
	line-height: 152%;
}

.grhWork {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-light);
	line-height: 150%;
}

.basket-buy__heading {
	display: flex;
	align-items: center;
	gap: 13px;

	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-height);
	line-height: 143%;
}



/* Секция heading-content */

.heading-content {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../img/bg-heading.png);
	background-size: cover;
}

.blocks__heading-content {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-left: 2.6%;
}

.block-text__blocks {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	text-shadow: 3px 3px 0px #000;
}

.block-text__blocks h1 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h1);
	line-height: 60px;
	margin: 0;
}

.block-text__blocks h4 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h4);
	line-height: 143%;
}

.btn__heading-content {
	padding: 30px 50px;
	background-color: var(--bg-color-yellow);
	color: var(--black-color);
	border-radius: 5px;
	transition: .3s;
	display: inline-block;

	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-light);
	line-height: 152%;
}

.btn__heading-content:hover {
	background-color: var(--bg-color-blue-light);
	color: var(--white-color);
}

/* Секция pizza */

.pizza {
	padding-top: 85px;
	padding-bottom: 100px;
}

.blocks__pizza {
	display: flex;
	flex-direction: column;
	gap: 100px;
}



.flex-container__pizza {
	display: flex;
	/*gap: 20px;*/
	justify-content: space-between;
	/*color: var(--main-color);*/
	flex-wrap: wrap;
}

.flex-item__flex-container {
	width: 32.25%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-item__flex-container img {
	border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

.text-block__flex-item {
	padding: 50px 44px;
	/*border: 1px solid #F2F6FA;*/
}

.text-block__flex-item h4 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-height);
	line-height: 143%;
	margin-bottom: 12px;
}

.text-block__flex-item p {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-light);
	line-height: 150%;
	margin-bottom: 24px;
}

.price__flex-item {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-medium);
	line-height: 150%;
	color: #434B53;
}

.btn__flex-item {
	padding: 20px 35px;
	background-color: var(--bg-color-blue-light);
	color: var(--white-color);
	border-radius: 8px;
	cursor: pointer;
	border: none;
	transition: .3s;

	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-light);
	line-height: 152%;
}

.btn__flex-item:hover {
	background-color: var(--bg-color-yellow);
	color: var(--black-color);
}

/* Секция about-us */

.about-us {
	padding-top: 100px;
	padding-bottom: 100px;
}

.blocks__about-us {
	display: flex;
	flex-direction: column;
	gap: 80px;
}


.flex-container__about-us {
	display: flex;
	justify-content: space-between;
}

.flex-item__about-us {
	width: 27.8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.flex-item__about-us img {
	margin-bottom: 24px;
}

.flex-item__about-us h4 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-height);
	margin-bottom: 10px;
	line-height: 143%;
}

.flex-item__about-us p {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-light);
	line-height: 150%;
}

/* Секция reviews */
.reviews {
	padding-top: 100px;
	padding-bottom: 100px;
}

.blocks__reviews {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

/* Секция set-reviews */
.set-reviews {
	padding-top: 100px;
	padding-bottom: 106px;
}

.flex-container__set-reviews {
	display: flex;
	justify-content: space-between;
}

.flex-item-text__set-reviews {
	flex: 50%;
}

.flex-item-text__set-reviews h2 {
	text-align: left;
	margin-bottom: 36px;
}

.list-reasons {
	margin-bottom: 50px;
	width: 77.34%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	list-style: none;
}

.list-reasons li {
	color: var(--bg-color-yellow);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-medium);
	line-height: 150%;
	display: flex;
	gap: 12px;
}

.list-reasons li::before {
	content: url(../img/icom-marker-ul.svg);
}

.list-reasons li span {
	color: var(--main-color);
}

.button__set-reviews {
	padding: 30px 50px;
	border: none;
	background-color: var(--bg-color-blue-light);
	transition: .3s;
	cursor: pointer;
	border-radius: 8px;

	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-medium);
	line-height: 152%;
	color: var(--white-color);
	
}

.button__set-reviews:hover {
	background-color: var(--bg-color-yellow);
	color: var(--black-color);
}


.flex-item-img__set-reviews {
	flex: 50%;
}

.flex-item-img__set-reviews img {
	width: 100%;
}

/* Секция contacts */
.contacts {
	padding-top: 100px;
	padding-bottom: 74px;
}

.flex-container__contacts {
	display: flex;
	justify-content: space-between;
	/* gap: 80px; */
	/* flex-wrap: wrap; */
}

.flex-item-map__contacts {
	border: 5px dashed var(--bg-color-blue-light);
	border-radius: 10px;
	margin-right: 20px;
	transition: .3s;
	width: 42.44%;
}

.flex-item-map__contacts iframe {
	width: 100%;
	height: 100%;
}


.flex-item-map__contacts:hover {
	border: 5px dashed var(--bg-color-yellow);
}

.flex-item-text__contacts {
	display: flex;
	flex-direction: column;
	gap: 35px;
	width: 49.23%;
}

.flex-item-text__contacts h2 {
	text-align: left;
}

.content__flex-item-text {

	display: flex;
	flex-direction: column;
	gap: 40px;
}

.contact__content img {
	margin-bottom: 20px;
}

.contact__content h4 {
	margin-bottom: 6px;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-height);
	line-height: 143%;
}

.contact__content p {
	margin-bottom: 6px;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-medium);
	line-height: 150%;
}

.contact__content a {
	margin-bottom: 6px;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-height);
	line-height: 150%;
	color: var(--bg-color-blue-light);
	text-decoration: underline;
}


/* Секция info-footer */

.info-footer {
	padding-top: 54px;
	padding-bottom: 56px;
}

.flex-container__info-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-container__info-footer p {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-light);
	line-height: 150%;
	color: #7E868E;
}

.block-social-icon {
	display: flex;
	gap: 43px;
	margin-right: 33px;
}

.block-social-icon_vk {
	background-image: url(../img/icon-vk.svg);
	width: 48px;
	height: 48px;
}

.block-social-icon_vk:hover {
	background-image: url(../img/icon-vk__yellow.svg);
}

.block-social-icon_instagram {
	background-image: url(../img/icon-instagram.svg);
	width: 48px;
	height: 48px;
}

.block-social-icon_instagram:hover {
	background-image: url(../img/icon-instagram__yellow.svg);
}

